lib-cov
lcov.info
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.tgz

pids
logs
results

node_modules

.vagrant

*.sln
*.sln.*
*.suo
*.njsproj
obj/**
.sublime-grunt.cache
.idea/**
projectFilesBackup/**
*.swp

# Elastic Beanstalk Files

!.elasticbeanstalk/*.cfg.yml

!.elasticbeanstalk/*.global.yml
build_number.txt
feedRepo/**

